@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Exo 2';
    src: url('/src/assets//Fonts//Exo2-Italic-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 400;

}
@font-face {
    font-family: 'Exo 2';
    src: url('./assets/fonts/static/Exo2-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Exo 2', ;
  }

  /* poppins font */

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .custom-data-table{
    background-color: white;
  }
  .custom-data-table table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  .custom-data-table table tbody tr:nth-child(even) {
    background-color: white; 
  }

  .active_tab{
    fill: #000000;
  }

  .ql-toolbar .ql-snow{
   border-radius: 6px 6px 0px 0px !important;
  }
  .ql-toolbar.ql-snow{
    border-radius: 6px 6px 0px 0px !important;
    border-color: gray;
  }
  .ql-container.ql-snow{
    border-radius: 0px 0px 6px 6px !important;
    border-color: gray;
  }


  
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: 
    linear-gradient(-60deg,#0000 45%,#000 0 55%,#0000 0) 
    0/300% 100% no-repeat text;
  animation: l3 2s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l3 {
  0%{background-position: 100%}
}

.sun-editor{
  border-radius: 10px;
}
.sun-editor .se-toolbar {
 border-radius:  10px 10px 0px 0px;
}

.sc-dstKZu .gWjvIc .rdt_TableRow{
  border: 1px solid black
}